@import 'mediawiki.mixins';

@blue: #355a86;

#blog-posts {
	margin: 30px 0 50px 0;
	padding: 0;
}

.blog-posts-title {
	color: @blue;
	border-bottom: none;
	margin-bottom: 0;
}

.blog-posts-more-link {
	float: right;
	font-size: 14px;
	position: relative;
	bottom: -5px;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: revert;
	}

}

.blog-posts-body {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	grid-gap: 25px;
	margin-top: 40px;

	@media ( max-width: 480px ) {
		grid-auto-flow: row;
	}

	.blog-post {
		display: block;
		text-align: center;
		border: 1px solid #C1C5C9;
		border-radius: 3px;
		font-size: 20px;
		text-decoration: none;
	}

	.blog-post-image {
		img {
			object-fit: fill;
			height: 200px !important;
			object-position: top;
			width: 100%;
			max-width: 100%;
		}
	}

	.blog-post-title {
		padding: 20px;
	}

}
