<a class="blog-post" href="{{{url}}}" rel="noopener" target="_blank">
    <div class="blog-post-image">
	    <img src="{{{image}}}" alt=""></img>
    </div>
	<div class="blog-post-title">{{{title}}}</div>
</a>
