<div class="blog-posts col-md-12 hidden-print noprint">
	<h2 class="blog-posts-title">{{ titleText }}</h2>

	<div class="blog-posts">
		{{#posts}}
			<div class="blog-post col-md-3">
				<div class="blog-post-image" style="background: transparent url('{{image}}') no-repeat scroll center / cover"></div>
				<p class="blog-post-title">{{title}}</p>
			</div>
		{{/posts}}
	</div>

	<a href="#" class="blog-posts-more">{{ moreText }}</a>

</div>