<div id="blog-posts" class="hidden-print noprint">
	<header class="blog-posts-header">
		{{#morePostsUrl}}<a class="blog-posts-more-link" href="{{morePostsUrl}}">{{ moreText }}</a>{{/morePostsUrl}}
		<h2 >{{ titleText }}</h2>
	</header>
	<div class="blog-posts-body">
		{{#posts}}
			{{>blog-post}}
		{{/posts}}
	</div>

</div>
